﻿<%@ Page Language="C#" MasterPageFile="~/Views/Shared/Unauthenticated.Master" Inherits="System.Web.Mvc.ViewPage" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

     <div>
    <h1>Banner stuff goes here</h1>
        <%: Html.ActionLink("Login", "Login", "Account")%>
    </div>

</asp:Content>
