﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>

<div>
    
    <div id="shareholderinfo">shareholder information div.</div>
    <div id="12ProfitInfo">12 profit center information div.</div>
<br />    
  <span style="float:left;">
    Copyright <%=DateTime.UtcNow.Year%> Uglii Corporation Ltd.
  </span>

    IN THE MATTER OF UGLII CORPORATION LIMITED (ACN 085 265 309) 
    <a href="#" target="_blank" id="business_agreement" class="button smallfooter" onclick="ShowTermsAndConditions(); return false;">Terms of Use</a>
    <a href="#" class="button smallfooter" onclick="viewPrivacyInfo(); return false;">Privacy</a>
    <a href="#" class="button smallfooter" onclick="viewPrivacyInfo(); return false;">Contact Us</a>
</div>

