﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" MasterPageFile="~/Views/Shared/Site.Master" %>

<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">

    <script type="text/javascript">
        var packet = { userActive: true, date: <%=DateTime.UtcNow.Ticks %> , logOut: false };
    </script>

    <%Html.RenderPartial("~/Views/Shared/ConstellationJSLinks.ascx"); %>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>
        <asp:ContentPlaceHolder ID="phTitle" runat="server">
     
        </asp:ContentPlaceHolder>
    </title>

    <asp:ContentPlaceHolder ID="phHead" runat="server" />


    <article class="container_12">
  <section>

      <div class="block-border">
        <div class="block-content">
		
		
            <div id="divContext<%= Request.Url.AbsolutePath.Replace("/", string.Empty) %>">
              <asp:ContentPlaceHolder id="cphMainPage" runat="server"></asp:ContentPlaceHolder>
            
        </div>
		
		  </div>
        <%Html.RenderPartial("~/Views/Shared/Footer.ascx"); %>
      </div>
	
  </section>
</article>
    <footer>

<div id="popup" style="display:none;"></div>
</footer>
    <!--[if lt IE 8]></div><![endif]-->
    <!--[if lt IE 9]></div><![endif]-->

    <script type="text/javascript" src="../Scripts/js/uglii_grid.js"></script>
    <script type="text/javascript" src="../../Scripts/knockout-3.4.0.js"></script>
</asp:Content>
